body {
   background-color: #EBEBEB;
   ;
}

ul li {
   list-style: none;
}

li a {
   color: #053412;
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   padding: 2px;
   white-space: nowrap;
}

li a:hover {
   color: #45965B;
   background-color: #DEDEDE;
   border-radius: 6px;
}

.logo {
   white-space: nowrap;
}

.logo-text {
   color: #45965B;
   font-size: 24px;
   line-height: 28px;
   margin-left: 20px;
}

.logo-text:hover {
   color: #053412;
}

.header__language {
   position: relative;
}

.down__menu-lang {
   display: none;
   position: absolute;
   z-index: 20;
}

.header__language:hover .down__menu-lang {
   display: block;
}

.header__language a {
   color: #053412;
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
}

.header__language a:hover {
   color: #45965B;
}

.icon-menu {
   display: none;
   margin-left: 20px;
   position: relative;
   z-index: 2;
   overflow: hidden;
   width: 30px;
   height: 20px;
}

.icon-menu span {
   position: absolute;
   height: 4px;
   width: 100%;
   top: 50%;
   left: 0;
   transform: translate(0px, -50%);
   background-color: #053412;
}

.icon-menu::before {
   content: '';
   position: absolute;
   height: 3px;
   width: 100%;
   top: 0;
   left: 0;
   background-color: #45965B;
}

.icon-menu::after {
   content: '';
   position: absolute;
   height: 3px;
   width: 100%;
   bottom: 0;
   left: 0;
   background-color: #45965B;
}

nav {
   display: flex;
   justify-content: space-evenly;
}

.menu-nav {
   flex: 1 1 auto;
}

.menu {
   white-space: nowrap;
}

.arrow-down {
   background-image: url('../img/drop-down-arrow.svg');
   background-repeat: no-repeat;
   background-position: left;
   padding-left: 18px;
}

.drop__down-menu {
   position: relative;
}

.down__menu {
   display: none;
   position: absolute;
   z-index: 20;
}

.drop__down-menu:hover .down__menu {
   display: flex;
   flex-direction: column;
   color: #053412;
   font-size: 20px;
   font-weight: 500;
   background: rgba(165, 165, 165, 0.3);
   backdrop-filter: blur(7px);
   /* background-color: rgba(4, 85, 17, 0.632); */
}

.header__line {
   height: 4px;
   background-color: #E5E5E5;
}

.menu__navigation li a {
   color: #053412;
   font-weight: 400;
   font-size: 20px;
   line-height: 23px;
}

.menu__navigation li a:hover {
   color: #45965B;
}

.hero__title h1 {
   color: #64A476;
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
}

.hero__title p {
   text-align: center;
   font-size: 20px;
   line-height: 23px;
}

.hero__item-waiting {
   background-color: #DEDEDE;
   border-radius: 10px;
   padding: 56px 0;
}

.hero__number-waiting {
   color: #933535;
   font-weight: 700;
   font-size: 64px;
   line-height: 75px;
}

.hero__describe-waiting {
   font-size: 32px;
   line-height: 32px;
}

.hero__protez {
   justify-content: space-between;
}

.hero__protez-info {
   min-height: 121px;
   max-height: 121px;
   min-width: 100%;
   max-width: 100%;
   background-color: #DEDEDE;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   transition: all 0.4s ease 0s;
}

.hero__protez-info:hover {
   box-shadow: 5px 5px 10px #524d4d;
   transform: scale(1.02);
   cursor: pointer;
}

.protez__info-describe p {
   font-size: 20px;
   line-height: 23px;
}

.protez__info-describe h2 {
   font-weight: 700;
   font-size: 32px;
   line-height: 37px;
}

.hero__describe-btn p {
   font-size: 20px;
}

.hero__btn-download {
   background-color: #E5E5E5;
   border-radius: 10px;
}

.hero__btn-download p {
   font-weight: 700;
   font-size: 24px;
   padding: 6px;
}

.hero__item-done {
   background-color: #E3F4E8;
   border-radius: 10px;
   padding: 56px 0;
}

.hero__number-done {
   color: #003611;
   font-weight: 700;
   font-size: 64px;
   line-height: 75px;
}

.hero__describe-done {
   font-size: 32px;
   line-height: 32px;
}

.hero__fluid {
   background-color: #C6DBCC;
}

.main__title {
   font-weight: 700;
   font-size: 28px;
   line-height: 32px;
}

.main__grey-star {
   color: #A3A3A3;
}

.main__title h3 {
   white-space: nowrap;
}

footer {
   background-color: #053412;
}

.form-check-input.is-invalid:focus,
.was-validated .form-check-input:invalid:focus {
   box-shadow: 0 0 0 0.25rem #64A476;
}

.form-check-input.is-invalid,
.was-validated .form-check-input:invalid {
   border-color: #59dc35;
}

.form-check-input.is-invalid:checked {
   background-color: #16682C;
}

.form-check-input[type=checkbox] {
   border-radius: 0em;
}

.form-check-input {
   width: 25px;
   height: 25px;
}

.form-control {
   display: block;
   width: 100%;
   background-color: #fff;
   border: 2px solid #64A476;
   border-radius: 0rem;
   transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
   background-color: #fff;
   border-color: #64A476;
   box-shadow: 0 0 0 0.25rem #64A476;
}

.forms__radio {
   justify-content: space-between;
}

.forms__radio p {
   font-size: 22px;
}

.form-check-input:checked {
   background-color: #16682C;
   border-color: #16682C;
}

.form-check-input:focus {
   border-color: #64A476;
   box-shadow: 0 0 0 0.25rem #64A476;
}

.form-text {
   border: 2px solid #64A476;
   color: #000;
   /* font-size: 100%;
   max-width: 100%; */
   flex: auto;
}

.main__btn-registration {
   width: 100%;
   background-color: #4C9F62;
   padding: 10px;
   border-radius: 10px;
   margin-bottom: 100px;
}

.main__btn-registration:hover {
   background-color: #16682C;
}

.main__btn-registration a {
   font-weight: 700;
   font-size: 32px;
   color: #fff;
}

.footer-logo {
   white-space: nowrap;
}

.footer__logo-text {
   color: #45965B;
   font-size: 24px;
   line-height: 28px;
   margin-left: 20px;
}

.footer__logo-text:hover {
   color: #B9E8C6;
}

.footer__menu li a {
   color: #B9E8C6;
   white-space: nowrap;
}

.footer__menu li a:hover {
   color: #053412;
   background-color: #C0ECCC;
   border-radius: 6px;
}

.footer__arrow-down {
   background-image: url('../img/arrow-footer.svg');
   background-repeat: no-repeat;
   background-position: left;
   padding-left: 18px;
}

.footer__arrow-down:hover {
   background-image: url('../img/drop-down-arrow.svg');
}

.footer__mail a {
   font-size: 20px;
   line-height: 23px;
   color: #C0ECCC;
}

.footer__contacts {
   display: flex;
   flex-direction: column;
}

.footer__contacts a {
   color: #C1C1C1;
   font-weight: 500;
   font-size: 20px;
}

.footer__contacts p {
   color: #C0ECCC;
}

.footer__copy {
   text-align: center;
   color: #C2C2C2;
   background-color: #01270C;
}